<!DOCTYPE html>
<html>
<head>
    <title>إعادة تعيين كلمة المرور</title>
</head>
<body>
    <h1>إعادة تعيين كلمة المرور</h1>
    <form action="" method="post">
        <label for="password">كلمة المرور الجديدة:</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="password2">تأكيد كلمة المرور:</label>
        <br>
        <input type="password" id="password2" name="password2" required>
        <br><br>
        <input type="submit" value="إعادة تعيين">
    </form>
</body>
</html>